<div class="container">
  <form class="justify-content-center align-items-center">
    <div class="row">
      <div class="form-group col">
        <label for="codesp">Code</label>
        <input
          type="text"
          class="form-control"
          id="codesp"
          placeholder="Enter code product"
        />
      </div>
      <div class="form-group col">
        <label for="nameproduct">Product Name</label>
        <input
          type="text"
          class="form-control"
          id="nameproduct"
          placeholder="Enter name product"
        />
      </div>
      <div class="form-group col">
        <label for="inlineFormCustomSelectPref">Product line</label>
        <select class="custom-select" id="inlineFormCustomSelectPref">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label for="quatity">Quatity</label>
        <input
          type="text"
          class="form-control"
          id="quatity"
          placeholder="Quantity"
        />
      </div>
      <div class="form-group col">
        <label for="priceimport">price import</label>
        <input
          type="text"
          class="form-control"
          id="priceimport"
          placeholder="price import"
        />
      </div>
      <div class="form-group col">
        <label for="pricepro">price</label>
        <input
          type="text"
          class="form-control"
          id="pricepro"
          placeholder="price"
        />
      </div>
      <div class="form-group col">
        <label for="priceafterdiscount">price after discount</label>
        <input
          type="text"
          class="form-control"
          id="priceafterdiscount"
          placeholder="price after discount"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label for="image">image</label>
        <input
          type="text"
          class="form-control"
          id="image"
          placeholder="image"
        />
      </div>
    </div>
    <div class="row ml-2">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="1"
        />
        <label class="form-check-label" for="inlineRadio1">active</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="2"
        />
        <label class="form-check-label" for="inlineRadio2">in-active</label>
      </div>
    </div>
    <div class="row d-flex flex-row-reverse">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
