<div class="container">
  <label for="uname"><b>Username</b></label>
  <form
    method="post"
    class="form-group"
    #loginForm="ngForm"
    (ngSubmit)="login(loginForm)"
  >
    <input
      type="text"
      placeholder="Enter Username"
      name="username"
      id="uname"
      ngModel
      required
    />

    <label for="psw"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      name="password"
      id="psw"
      ngModel
      required
    />
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
  <!-- <label>
    <input type="checkbox" checked="checked" name="remember" /> Remember me
  </label> -->
</div>

<div
  class="modal fade"
  id="SuccessMessageBox"
  tabindex="-1"
  role="dialog"
  aria-labelledby="SuccessMessageBoxLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SuccessMessageBoxLabel">Message</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-group" #editForm="ngForm">
          <div class="d-flex flex-row-reverse">
            <span>Login successfully!</span>
          </div>
          <button
            type="button"
            id="edit-productline-form"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            OK
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
