<div class="container">
  <label for="uname"><b>Username</b></label>
  <form
    method="post"
    class="form-group"
    #loginForm="ngForm"
    (ngSubmit)="login(loginForm)"
  >
    <input
      type="text"
      placeholder="Enter Username"
      name="username"
      id="uname"
      ngModel
      required
    />

    <label for="psw"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      name="password"
      id="psw"
      ngModel
      required
    />
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
  <!-- <label>
    <input type="checkbox" checked="checked" name="remember" /> Remember me
  </label> -->
</div>
